@font-face {
    font-family: "ProductSans-Bold";
    src: URL("../fonts/ProductSans-Bold.ttf") format("truetype");
}

body{
    margin: 0;
    overflow: hidden;
}

.planet_name{
    position: fixed;

    font-family: ProductSans-Bold;
    color: white;
}